body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 10rem;
}


p{
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  font-family:  'Roboto Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-active{
  color: palegoldenrod;
  
}

.pic {
  width: 75%;
}

.citizen-portal {
  border: 1px solid black
}

.work-2 {
  border: 1px solid black
}

.about-text {
  width: 80%;
}

.img-thumbnail {
  width: 100%;
  /* height: 300px; */
  /* margin-bottom: 50px; */
  cursor: pointer;
}

/* img {
  max-width: 100%;
} */

.selected{
  background-color: rgb(255, 226, 173);
  font-weight: 475;
}

.nav-link{
  font-size: 35px;
}

.nav-link:hover{
  cursor: pointer;
  color:orange
}

.project {
  height: 250px;
  /* background-color: palegreen;
  border: 3px solid gold; */
  margin: 3%;
}

.error-text {
  color:indianred
}

.content{
  justify-content: center;
  max-width: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
  
  
}

.skills-heading{
  border-bottom: 1px solid rgb(221, 218, 218);
}